USE [MDW_UDV3]
GO
/****** Object:  StoredProcedure [etl].[InsertIntoFT_Soem]    Script Date: 24-08-2015 12:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
 ALTER PROCEDURE [etl].[InsertIntoFT_Soem]
AS
BEGIN
IF object_id('dbo.periode_tmp') is not null DROP TABLE dbo.periode_tmp
create table dbo.periode_tmp (periode varchar(8));
--insert into dbo.periode_tmp values(201112);
insert into dbo.periode_tmp values(201212);
insert into dbo.periode_tmp values(201301);
insert into dbo.periode_tmp values(201302);

declare @periode varchar(8)
set @periode = '201212'
declare @SQL_command varchar(max)

declare cur cursor for 
select periode from dbo.periode_tmp
open cur

fetch next from cur into @periode
while (@@FETCH_STATUS = 0)
begin
set @SQL_command =
'Insert into edw.FT_Strækningsøkonomi (
            [Ft_key],
            [Periode],
            [Model_id],
            [DestcostGangetOp],
            [resource1_key],
            [resource2_key],
            [activity1_key],
            [activity2_key],
            [activity3_key],
            [activity4_key],
            [costobject1_key],
            [attRessourcetype_key],
            [attFunktionskunde_key],
            [AttSegment_key],
            [AttProduktaktivitetsgruppe_key],
            [AttProduktVariabilitet_key],
            [AttProduktLitra_key],
            [AttTogsystem_key],
            [Omkostningssted_key],
            [art_hierarki_key],
            [ordre_key],
            [pspelement_key],
            [profitcenter_key],
            [Artsgruppe_key],
            [resBeløb],
            [resSumBeløb],
            [Beløb],
            [RessourceportalJoin],
            [Dækningsbidrag_key],
            [Variabilitet_key],
            [Reversibilitet_key],
            [Tidsinterval_key],
            [Momsstatus],
            [kilde_key]
)
SELECT 
 next value for [edw].[ft_strækningsøkonomi_ft_key],   ---Ft_key
'+@periode+',   ---Periode
[Model_id],   ---Model_id
[DestcostGangetOp],   ---DestcostGangetOp
[resource1_key],   ---resource1_key
[resource2_key],   ---resource2_key
[activity1_key],   ---activity1_key
[activity2_key],   ---activity2_key
[activity3_key],   ---activity3_key
[activity4_key],   ---activity4_key
[costobject1_key],   ---costobject1_key
[attRessourcetype_key],   ---attRessourcetype_key
[attFunktionskunde_key],   ---attFunktionskunde_key
[AttSegment_key],   ---AttSegment_key
[AttProduktaktivitetsgruppe_key],   ---AttProduktaktivitetsgruppe_key
[AttProduktVariabilitet_key],   ---AttProduktVariabilitet_key
[AttProduktLitra_key],   ---AttProduktLitra_key
[AttTogsystem_key],   ---AttTogsystem_key
[Omkostningssted_key],   ---Omkostningssted_key
[art_hierarki_key],   ---art_hierarki_key
[ordre_key],   ---ordre_key
[pspelement_key],   ---pspelement_key
[profitcenter_key],   ---profitcenter_key
[Artsgruppe_key],   ---Artsgruppe_key
[resBeløb],   ---resBeløb
[resSumBeløb],   ---resSumBeløb
[Beløb],   ---Beløb
[RessourceportalJoin],   ---RessourceportalJoin
[Dækningsbidrag_key],   ---Dækningsbidrag_key
[Variabilitet_key],   ---Variabilitet_key
[Reversibilitet_key],   ---Reversibilitet_key
[Tidsinterval_key],   ---Tidsinterval_key
[Momsstatus],   ---Momsstatus
[kilde_key]   ---OprettetAf
From
edw.ft_strækningsøkonomi_'+@periode+'';

    --print(@periode)
	--print(@SQL_command)
	execute (@SQL_command)
    fetch next from cur into @periode
end
close cur
deallocate cur
  

IF object_id('dbo.periode_tmp') is not null DROP TABLE dbo.periode_tmp
END
